<div class="container">
    <h1 class="pb-10">Your feed</h1>
    <% if (user.following.length > 0) { %>
      <% if (data.length > 0) { %>
        <% data.forEach((d) => { %>
          <% if (d !== undefined) { %>
            <div class="card mb-3">
              <div class="card-header">
                <img src="<%= d.by.avatar %>" alt="<%= d.by.name %>'s avatar" width="25" height="25" class="inline-block align-middle avatar"> <%= d.by.name %>
                  </div>
                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <% if (d.actionType === "Post New") { %>
                        <p><strong><%= d.by.name %></strong> created a new post</p>
                        <h5><a href="/articles/<%= slugify(d.reason) %>" class="no-underline"><%= d.reason %></a></h5>
                      <% }else if (d.actionType === "Post Edit") { %>
                        <p><strong><%= d.by.name %></strong> edited a post</p>
                        <h5><a href="/articles/<%= slugify(d.reason) %>" class="no-underline"><%= d.reason %></a></h5>
                      <% } %>
                      <h3 class="blockquote-footer mt-3"><%= moment(d.at).fromNow() %></h3>
                    </blockquote>
              </div>
            </div>
          <% }else { %>
            <div></div>
          <% } %>
        <% }) %>
      <% } %>
      <% if (data2.length > 0) { %>
        <% data2.forEach((d2) => { %>
          <div class="card mb-3">
            <div class="card-header">
              <img src="<%= d2.by.avatar %>" alt="<%= d2.by.name %>'s avatar" width="25" height="25" class="inline-block align-middle avatar"> <%= d2.by.name %>
                </div>
                  <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <% if (d2.actionType === "User Follow") { %>
                      <p><strong><%= d2.by.name %></strong> started following <a href="/users/<%= slugify(d2.onUser.name) %>" class="no-underline"><%= d2.onUser.name %></a></p>
                    <% } %>
                    <h3 class="blockquote-footer mt-3"><%= moment(d2.at).fromNow() %></h3>
                  </blockquote>
            </div>
          </div>
        <% }) %>
      <% } %>
      <% if (data.length < 0 && data2.length < 0) { %>
        <img
          src="../../public/emojis/cricket.svg"
          alt="cricket"
          width="300"
          height="300"
          class="mx-auto"
        />
        <div class="text-center">
          <h1>It's quiet...for now</h1>
          <br />
          <h2 class="pb-3">Seems like there aren't any recent actions from the people you follow!</h2>
          <h5 class="pb-4">Find more logged here:</h5>
          <form action="/" method="GET" class="form-inline my-2 my-lg-0 mr-1">
            <div class="input-group">
              <input
                type="search"
                class="form-control search-input"
                placeholder="Find blogs and logged"
                aria-label="Search"
                aria-describedby="basic-addon2"
                name="search"
                id="search"
              />
              <span class="input-group-btn">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                  Search
                </button>
              </span>
            </div>
        </form>
        </div>
      <% } %>
    <% }else { %>
        <div class="text-center">
            <h2 class="pb-3">🤷 Looks like you're not following anyone!</h2>
            <h3 class="pb-3">While you're here, check some <a href="/articles" class="no-underline">articles</a> written by awesome bloggers and follow them to get info in your feed.</h3>
            <h3 class="pb-4">Or you can search for some logged here:</h3>
            <form action="/" method="GET" class="form-inline my-2 my-lg-0 mr-1">
                <div class="input-group">
                  <input
                    type="search"
                    class="form-control search-input"
                    placeholder="Find blogs and logged"
                    aria-label="Search"
                    aria-describedby="basic-addon2"
                    name="search"
                    id="search"
                  />
                  <span class="input-group-btn">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                      Search
                    </button>
                  </span>
                </div>
            </form>
        </div>
    <% } %>
</div>