<div class="container">
  <h1 class="mb-10">Results</h1>
  <div class="users mb-10">
    <h2 class="mb-4">Users</h2>
    <% if (users.length > 0) { %>
    <div class="card-deck">
      <% users.forEach((user) => { %>
      <div class="card" style="width: 18rem; display: inline-block">
        <img
          class="card-img-top"
          src="<%= user.avatar %>"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <p class="card-text"><%= user.bio || 'No bio' %></p>
          <a href="/users/<%= user.slug %>" class="btn btn-primary">Profile</a>
        </div>
      </div>
      <% }) %>
    </div>
    <% } else { %>
    <div class="text-center">
      <img
        src="../public/emojis/cricket.svg"
        alt="cricket"
        width="200"
        height="200"
        class="mx-auto mb-4"
      />
      <h1>*Cricket noises*</h1>
      <br />
      <h3>Couldn't find a user with a name similar to <%= query %></h3>
    </div>
    <% } %>
  </div>
  <div class="posts">
    <h2 class="mb-4">Posts</h2>
    <% if (posts.length > 0) { %> <% posts.forEach(post => { %>
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title"><%= post.title %></h4>
        <div class="card-subtitle text-muted mb-2">
          <%= post.createdAt.toLocaleDateString() %>
        </div>
        <div class="card-text mb-2">
          <%= post.description.substr(0, 50) %>...
        </div>
        <a href="/articles/<%= post.slug %>" class="btn btn-primary"
          >Read more</a
        >
        <% if (user && post.author === user.name) { %>
        <a href="/articles/edit/<%= post.id %>" class="btn btn-info">Edit</a>
        <form
          action="/articles/<%= post.id %>?_method=DELETE"
          method="POST"
          class="d-inline"
        >
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% }) %> <% }else { %>
    <img
      src="../../public/emojis/cricket.svg"
      alt="cricket"
      width="200"
      height="200"
      class="mx-auto mb-4"
    />
    <div class="text-center">
      <h1>*Cricket noises*</h1>
      <br />
      <h3>Couldn't find a post with a title similar to <%= query %></h3>
    </div>
    <% } %>
  </div>
</div>
