<div class="container">
  <h1 class="mb-4">Blog Articles</h1>
  <a href="/articles/new" class="btn btn-primary"
    ><img
      src="../../public/art/new.png"
      alt="new"
      width="25"
      height="25"
      class="inline-block align-center"
    />
    New</a
  >
  <h1 class="mb-3 pt-3">Post of the day</h1>
  <div class="card mt-4 mb-5">
    <div class="card-body bg-gradient-to-r from-purple-400 via-pink-500 to-red-500">
      <h4 class="card-title"><%= articles[0].title %></h4>
      <div class="card-subtitle text-muted mb-2">
        <%= articles[0].createdAt.toLocaleDateString() %>
      </div>
      <div class="card-text mb-2">
        <%= articles[0].description.substr(0, 50) %>...
      </div>
      <a href="/articles/<%= articles[0].slug %>" class="btn btn-primary"
        >Read more</a
      >
      <% if (user && articles[0].author === user.uid) { %>
      <a href="/articles/edit/<%= articles[0].id %>" class="btn btn-info">Edit</a>
      <form
        action="/articles/<%= articles[0].id %>?_method=DELETE"
        method="POST"
        class="d-inline"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <% } %>
    </div>
  </div>  
  <% if (articles.length > 0) { %> <% articles.forEach(article => { %>
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title"><%= article.title %></h4>
      <div class="card-subtitle text-muted mb-2">
        <%= article.createdAt.toLocaleDateString() %>
      </div>
      <div class="card-text mb-2">
        <%= article.description.substr(0, 50) %>...
      </div>
      <a href="/articles/<%= article.slug %>" class="btn btn-primary"
        >Read more</a
      >
      <% if (user && article.author === user.uid) { %>
      <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
      <form
        action="/articles/<%= article.id %>?_method=DELETE"
        method="POST"
        class="d-inline"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <% } %>
    </div>
  </div>
  <% }) %> <% }else { %>
  <img
    src="../../public/emojis/cricket.svg"
    alt="cricket"
    width="300"
    height="300"
    class="mx-auto"
  />
  <div class="text-center">
    <h1>*Cricket noises*</h1>
    <br />
    <h2>Seems like there aren't any articles[0]s</h2>
  </div>
  <% } %>
</div>
