<div class="container">
  <div
    class="btn-group d-flex justify-content-center"
    role="group"
    aria-label="Basic outlined example"
  >
    <button type="button" class="btn btn-outline-primary" onclick="showMod()">
      Moderation Logs
    </button>
    <button type="button" class="btn btn-outline-primary" onclick="showPost()">
      Article Logs
    </button>
    <button type="button" class="btn btn-outline-primary" onclick="showUser()">
      User Logs
    </button>
  </div>
  <div id="mod" class="hidden">
    <h4 class="text-muted pb-5 pt-5">Mod Logs</h4>
    <% if (mod.length > 0) { %> <% for (let i = 0; i < mod.length; i++) { %>
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title"><%= mod[i].actionType %></h4>
        <div class="card-subtitle text-muted mb-2">
          <%= moment.utc(mod[i].at).format("dddd, MMMM Do YYYY") %>
        </div>
        <div class="card-text mb-2">
          <h5>
            Action performed by:
            <img
              src="<%= mod[i].by.avatar %>"
              alt="avatar"
              width="50"
              height="50"
              class="inline-block align-middle"
              style="border-radius: 50%"
            /><%= mod[i].by.name %>
          </h5>
        </div>
        <div class="card-text mb-2">
          <h5>
            Action performed on:
            <img
              src="<%= mod[i].onUser.avatar %>"
              alt="avatar"
              width="50"
              height="50"
              class="inline-block align-middle"
              style="border-radius: 50%"
            /><%= mod[i].onUser.name %>
          </h5>
        </div>
        <div class="card-text mb-2">
          <h5>Reason: <%= mod[i].reason || 'None' %></h5>
        </div>
        <% if (user.uid === "53062997918043") { %>
        <div class="card-text mb-2">
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            Delete
          </button>
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Are you sure you want to delete this log?
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">This action cannot be undone</div>
                <div class="modal-footer">
                  <form
                    action="/admin/logs/delete/<%= mod[i].id %>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-danger">Yes</button>
                  </form>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <% } %> <% }else { %>
    <img
      src="../../public/emojis/cricket.svg"
      alt="cricket"
      width="300"
      height="300"
      class="mx-auto"
    />
    <div class="text-center">
      <h1>*Cricket noises*</h1>
      <br />
      <h2>There aren't any moderation logs on record</h2>
    </div>
    <% } %>
  </div>
  <div id="post" class="hidden">
    <h4 class="text-muted pb-5 pt-5">Post Logs</h4>
    <% if (post.length > 0) { %> <% for (let i = 0; i < post.length; i++) { %>
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title"><%= post[i].actionType %></h4>
        <div class="card-subtitle text-muted mb-2">
          <%= moment.utc(post[i].at).format("dddd, MMMM Do YYYY") %>
        </div>
        <div class="card-text mb-2">
          <h5>
            Action performed by:
            <img
              src="<%= post[i].by.avatar %>"
              alt="avatar"
              width="50"
              height="50"
              class="inline-block align-middle"
              style="border-radius: 50%"
            /><%= post[i].by.name %>
          </h5>
        </div>
        <div class="card-text mb-2">
          <% if (post[i].actionType === "Post New") { %>
          <h5>
            Action performed: Created
            <a class="no-underline" href="/articles/<%= slugify(post[i].reason) %>"
              ><%= post[i].reason %></a
            >
          </h5>
          <% } else { %>
          <h5>
            Action performed: Edited
            <a class="no-underline" href="/articles/<%= slugify(post[i].reason) %>"
              ><%= post[i].reason %></a
            >
          </h5>
          <% } %>
        </div>
        <% if (user.uid === "53062997918043") { %>
        <div class="card-text mb-2">
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            Delete
          </button>
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Are you sure you want to delete this log?
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">This action cannot be undone</div>
                <div class="modal-footer">
                  <form
                    action="/admin/logs/delete/<%= post[i].id %>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-danger">Yes</button>
                  </form>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <% } %> <% }else { %>
    <img
      src="../../public/emojis/cricket.svg"
      alt="cricket"
      width="300"
      height="300"
      class="mx-auto"
    />
    <div class="text-center">
      <h1>*Cricket noises*</h1>
      <br />
      <h2>There aren't any post logs on record</h2>
    </div>
    <% } %>
  </div>
  <div id="user" class="hidden">
    <h4 class="text-muted pb-5 pt-5">User Logs</h4>
    <% if (userD.length > 0) { %> <% for (let i = 0; i < userD.length; i++) { %>
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title"><%= userD[i].actionType %></h4>
        <div class="card-subtitle text-muted mb-2">
          <%= moment.utc(userD[i].at).format("dddd, MMMM Do YYYY") %>
        </div>
        <div class="card-text mb-2">
          <h5>
            Action performed by:
            <img
              src="<%= userD[i].by.avatar %>"
              alt="avatar"
              width="50"
              height="50"
              class="inline-block align-middle"
              style="border-radius: 50%"
            /><%= userD[i].by.name %>
          </h5>
        </div>
        <div class="card-text mb-2">
          <h5>
            Action performed on:
            <img
              src="<%= userD[i].onUser.avatar %>"
              alt="avatar"
              width="50"
              height="50"
              class="inline-block align-middle"
              style="border-radius: 50%"
            /><%= userD[i].onUser.name %>
          </h5>
        </div>
        <% if (user.uid === "53062997918043") { %>
        <div class="card-text mb-2">
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            Delete
          </button>
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Are you sure you want to delete this log?
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">This action cannot be undone</div>
                <div class="modal-footer">
                  <form
                    action="/admin/logs/delete/<%= userD[i].id %>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-danger">Yes</button>
                  </form>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <% } %> <% }else { %>
    <img
      src="../../public/emojis/cricket.svg"
      alt="cricket"
      width="300"
      height="300"
      class="mx-auto"
    />
    <div class="text-center">
      <h1>*Cricket noises*</h1>
      <br />
      <h2>There aren't any user logs on record</h2>
    </div>
    <% } %>
  </div>
</div>
<script>
  function showMod() {
    const modDiv = document.getElementById("mod");
    if (modDiv.style.display === "block") {
      modDiv.style.display = "none";
    } else {
      modDiv.style.display = "block";
    }
  }
  function showPost() {
    const postDiv = document.getElementById("post");
    if (postDiv.style.display === "block") {
      postDiv.style.display = "none";
    } else {
      postDiv.style.display = "block";
    }
  }
  function showUser() {
    const userDiv = document.getElementById("user");
    if (userDiv.style.display === "block") {
      userDiv.style.display = "none";
    } else {
      userDiv.style.display = "block";
    }
  }
</script>