<div class="container">
  <%- include('../partials/messages') %> 
  <img
    src="<%= user.avatar %>"
    alt="avatar"
    width="50"
    height="50"
    class="inline-block align-middle"
    style="border-radius: 50%"
  />
  <h1 class="inline-block align-middle">Welcome back, <%= user.name %></h1>
  <div class="mt-4 flex flex-row">
    <a
      href="/dashboard/settings"
      type="button"
      class="btn btn-success mr-3"
      id="settings"
      ><i class="fas fa-cog"></i> Settings</a
    >
    <a
      href="/users/<%= user.slug %>"
      type="button"
      class="btn btn-secondary"
      id="profile"
      ><i class="fas fa-user"></i> Profile</a
    >
  </div>
  <h1 class="pt-10">API Credentials:</h1>
  <div class="div pt-4">
    <button
      class="btn btn-primary"
      onclick="copy('<%= user.apiKey %>')"
      id="copy-btn"
    >
      Copy API key
    </button>
    <button class="btn btn-secondary" onclick="show()" id="show-btn">
      Show API key
    </button>
    <form action="/dashboard/settings/apikey?_method=PUT" method="POST">
      <button type="submit" class="btn btn-info mt-3">Refresh API Key</button>
    </form>
  </div>
  <p id="api-key" class="hidden pt-4 text-muted text-blue-400">
    <%= user.apiKey %>
  </p>
  <h5 class="pt-10">Account ID: <%= user.uid %></h5>
  <h4 class="mt-10">
    Account created at: <%= moment.utc(user.registeredAt) %>
  </h4>
</div>
<script>
  async function copy(text) {
    await navigator.clipboard.writeText(text);
    document.getElementById("copy-btn").innerHTML = "Copied!";
    setTimeout(() => {
      document.getElementById("copy-btn").innerHTML = "Copy API key";
    }, 1000);
  }
  function show() {
    const api = document.getElementById("api-key");
    if (api.style.display === "block") {
      api.style.display = "none";
      document.getElementById("show-btn").innerHTML = "Show API key";
    } else {
      api.style.display = "block";
      document.getElementById("show-btn").innerHTML = "Hide Key";
    }
  }
</script>
