<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <% if (following.length > 0) { %>
  <h1 class="mb-4"><%= dude.name %>'s Followings</h1>
  <% data.forEach((d) => { %>
  <div class="card">
    <div class="card-body">
      <h1 class="inline-block align-middle">
        <img
          src="<%= d.avatar %>"
          alt="avatar"
          width="50"
          class="inline-block align-middle"
          style="border-radius: 50%"
        /><a href="/users/<%= d.slug %>" style="text-decoration: none"
          ><%= d.name %></a
        >
      </h1>
    </div>
  </div>
  <% }) %> <% } else { %>
  <div class="text-center">
    <img
      src="../../public/emojis/cricket.svg"
      alt="cricket"
      width="200"
      height="200"
      class="mx-auto mb-4"
    />
    <h1>*Cricket noises*</h1>
    <br />
    <h3 class="mb-4"><%= dude.name %> has no followings</h3>
  </div>
  <% } %>
</div>